* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.star_group_1 {
  background-image: url("./assets/images/star-1.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  transform: scale(1.8);
  transform-origin: center 30%;
  position: absolute;
  animation: star-group-ani 4s infinite ease;
}

.star_group_2 {
  background-image: url("./assets/images/star-2.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  transform: scale(1.8);
  transform-origin: center 30%;
  position: absolute;
  animation: star-group-ani 5s infinite ease;
  animation-delay: 1.5s;
}

.star_group_3 {
  background-image: url("./assets/images/star-3.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  transform: scale(1.8);
  transform-origin: center 30%;
  position: absolute;
  animation: star-group-ani 3s infinite ease;
  animation-delay: 3s;
}

@keyframes star-ani {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(0) translate3d(-20vw, 20vw, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(0) translate3d(-40vw, 40vw, 0);
  }
}

@keyframes star-group-ani {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

* {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes space-man-ani {
  0% {
    transform: translateY(-1vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(-1vh);
  }
}

@keyframes helmet-light-ani {
  0% {
    transform: translateY(-1vh);
    opacity: 0.3;
  }
  50% {
    transform: translateY(1vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-1vh);
    opacity: 0.3;
  }
}

@keyframes vanishOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(20px);
  }
}

@keyframes left-arrow-ani {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

@keyframes right-arrow-ani {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100vw);
  }
}
